// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// neutral
$main-bg: var(--primary-bg) !default;
$secondary-bg: var(--secondary-bg) !default;
$tertiary-bg: var(--tertiary-bg) !default;

// Accents
$primary-accent: var(--primary-accent) !default;
$secondary-accent: var(--secondary-accent) !default;
$text-accent: var(--tertiary-accent) !default;

// ----------------------------

// Code
$blockquote-text-color: #819198 !default;
$code-bg-color: #1d1f21 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: $primary-accent !default;

:root {
    --primary-accent: #B8A2D1;
    --secondary-accent: #80CBC4;
    --tertiary-accent: #D6C7B8;
    
    --primary-bg: #111111;
    --secondary-bg: #1e1e1e;
    --tertiary-bg: #393939;
}