// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Body
$body-bg-color: #111111 !default;

// Headers
$header-heading-color: #B8A2D1 !default;
$header-bg-color: #212425 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #B8A2D1 !default;
$body-text-color: #D6C7B8 !default;
$body-link-color: #80CBC4 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #1d1f21 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #B8A2D1 !default;
