// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// neutral
$main-bg: var(--main-bg) !default;
$secondary-bg: var(--secondary-bg);

// Accents
$primary-accent: var(--primary-accent) !default;
$text-accent: var(--text-accent) !default;
$secondary-accent: var(--secondary-accent) !default;

// ----------------------------

// Code
$blockquote-text-color: #819198 !default;
$code-bg-color: #1d1f21 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: $primary-accent !default;

:root {
    --main-bg: #111111;
    --secondary-bg: lighten($color: var(--main-bg), $amount: 5%)
    --primary-accent: #B8A2D1;
    --secondary-accent: #80CBC4;
    --text-accent: #D6C7B8;
}